@import "../../styles/variables";

.keyboard {
  width: fit-content;
  margin: 0 auto;
  padding: 8px;
  background-color: $keyboard-bg-color;
  border: 3px solid $main-color;
  border-radius: 8px;
  box-shadow: $keyboard-shadow;
  user-select: none;

  display: grid;
  grid-template-columns: repeat(15, 50px);
  grid-template-rows: repeat(5, 50px);
  gap: 8px;
}
